@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

@layer components {
  .scrollbar-color {
    scrollbar-color: var(--tw-scrollbar-thumb, rgba(156, 163, 175, 0.5)) var(--tw-scrollbar-track, rgba(229, 231, 235, 0.5));
  }
  .scrollbar-thumb-gray {
    --tw-scrollbar-thumb: gray;
  }
  .scrollbar-track-transparent {
    --tw-scrollbar-track: transparent;
  }
}
